/* Custom CSS for Physical AI Humanoid Robotics Curriculum */

:root {
  --ifm-color-primary: #2e8555;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
}

html[data-theme='dark'] {
  --ifm-color-primary: #25c2d0;
  --ifm-color-primary-dark: #21af8d;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32dfc5;
  --ifm-color-primary-lightest: #4be8db;
}

.docusaurus-mt-lg {
  margin-top: 2rem;
}
